* {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0;
    background-color: #f2f2f2;
    overflow: auto;
}

.gallery {
    margin: 5px;
    border: 3px solid #009688;
    float: left;
    width: 390px;
}

.gallery img {
    width: 100%;
    height: auto;
    height: 300px;
}

.desc {
    padding: 15px;
    text-align: center;
    border: 1px solid #009688;
}